# emacs tmp file
\#*#
*.py~
*.c~
*.h~
*.java~
test.c
test.py

# Python cache
__pycache__/

# For Java
*.class
*.jar
*.war
*.ear

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
